body,
h1,
h2,
h3,
h4,
p,
footer,
hr,
ul,
input,
form,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

form {
  height: 100%;
  width: 100%;
}

input {
  border: 0;
}

input:focus {
  outline: 0;
}
