body,
h1,
h2,
h3,
h4,
p,
footer,
hr,
ul,
input,
form,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

form {
  height: 100%;
  width: 100%;
}

input {
  border: 0;
}

input:focus {
  outline: 0;
}

.header {
  min-width: 320px;
  height: 72px;
  padding: 0 50px;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.header__image {
  width: 120px;
}
.header__buttons-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin-left: 92px;
}
.header__buttons-box-single-button {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  height: 40px;
  width: 80px;
  background-color: #262626;
  color: #fff;
  border-radius: 2px;
  border: 0;
}
.header__buttons-box-single-button:not(:last-of-type) {
  margin-right: 16px;
  background-color: #fff;
  color: #1d1d1d;
  outline: 1px solid #e0e0e0;
}
.header__buttons-box-single-button:hover {
  cursor: pointer;
}
.header__box-time-place {
  height: 40px;
  display: flex;
  align-items: center;
}
.header__box-time-place-time {
  height: 40px;
  width: 65px;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}
.header__box-time-place-time::placeholder {
  text-align: center;
}
.header__box-time-place-between-inputs {
  margin: 0 9px;
  font-weight: 300px;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}
.header__box-time-place-place {
  width: 292px;
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  height: 100%;
  box-sizing: border-box;
}
.header__box-time-place-place-icon-geo {
  margin: 0 16px;
}
.header__box-time-place-place-input {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  width: 100%;
  height: 100%;
}

.search {
  min-width: 320px;
  padding: 0 50px;
  margin-bottom: 25px;
}
.search__box-input {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}
.search__box-input form {
  width: 100%;
  height: 100%;
  position: relative;
}
.search__box-input form:before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url(../images/shape.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 12px;
  left: 8px;
}
.search__box-input-input {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  width: 100%;
  height: 48px;
  border-bottom: rgba(117, 117, 117, 0.3) solid 1px;
  padding-left: 38px;
}
.search__box-input-input:focus {
  border-bottom: red solid 1px;
}

.mobile-box-place {
  display: none;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .header {
    padding: 0 8px;
  }
  .header__image {
    width: 110px;
  }
  .header__buttons-box {
    margin-left: 0;
  }
  .header__buttons-box-single-button {
    width: 72px;
  }
  .header__buttons-box-single-button:not(:last-of-type) {
    margin-right: 12px;
  }
  .header__box-time-place-time {
    width: 57px;
    font-size: 13px;
    line-height: 24px;
  }
  .header__box-time-place-between-inputs {
    margin: 0 7px;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
  }
  .header__box-time-place-place {
    width: 215px;
  }
  .header__box-time-place-place-icon-geo {
    margin: 0 10px;
  }
  .header__box-time-place-place-input {
    font-size: 13px;
    line-height: 24px;
  }

  .search {
    padding: 0 8px;
  }
}
@media (max-width: 639px) {
  .header {
    padding: 0 8px;
  }
  .header__image {
    width: 105px;
  }
  .header__buttons-box {
    margin-left: 0;
  }
  .header__buttons-box-single-button {
    width: 72px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
  }
  .header__buttons-box-single-button:not(:last-of-type) {
    margin-right: 12px;
  }
  .header__box-time-place {
    display: none;
  }
  .header__icon-basket {
    display: none;
  }

  .search {
    padding: 0 8px;
  }
  .search__box-input {
    width: 100%;
  }
  .search__box-input form {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .search__box-input form:before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(../images/shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 12px;
    left: 8px;
  }
  .search__box-input-input {
    font-size: 13px;
    padding-left: 32px;
  }

  .mobile-box-place {
    display: block;
    width: 100%;
    height: 61px;
    padding: 0 8px;
  }

  .box-time-place {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 11px;
    line-height: 13px;
    color: #626262;
  }
  .box-time-place form:first-child {
    width: 65px;
    margin-right: 16px;
  }
  .box-time-place-time {
    height: 40px;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #1d1d1d;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-top: 8px;
    text-align: left;
  }
  .box-time-place-time::placeholder {
    text-align: center;
  }
  .box-time-place-between-inputs {
    display: none;
  }
  .box-time-place-place {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    height: 100%;
    box-sizing: border-box;
    margin-top: 8px;
  }
  .box-time-place-place-icon-geo {
    margin: 0 16px;
  }
  .box-time-place-place-input {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #1d1d1d;
  }
}
.info-place {
  margin: 55px 50px 16px;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
  font-weight: normal;
}

.block-cards {
  min-width: 320px;
  padding: 0 50px;
  display: grid;
  column-gap: 12px;
  row-gap: 15px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  margin-bottom: 100px;
}
.block-cards__card {
  width: 100%;
}
.block-cards__card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.block-cards__card-img {
  width: 100%;
  margin-bottom: 15px;
}
.block-cards__card-title {
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 4px;
  padding-left: 5px;
}
.block-cards__card-category {
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 4px;
  padding-left: 5px;
}
.block-cards__card-time-info {
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 4px;
  padding-left: 5px;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .block-cards {
    padding: 0 8px;
    grid-template-columns: repeat(2, minmax(306px, 497px));
  }

  .info-place {
    margin: 55px 8px 16px;
  }
}
@media (max-width: 639px) {
  .block-cards {
    padding: 0 8px;
    grid-template-columns: repeat(1, minmax(300px, 623px));
  }

  .info-place {
    margin: 55px 8px 16px;
  }
}
.footer {
  position: relative;
  background-color: #262626;
  padding: 50px 50px 40px;
}
.footer__img {
  padding-bottom: 40px;
}
.footer__line {
  width: 100%;
  opacity: 0.4;
  height: 1px;
  background-color: #fff;
  margin-bottom: 32px;
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
}
.footer__menu-menu-left-box-selection {
  display: flex;
  align-items: center;
  border: 1px solid #3b3b3b;
  background-color: #3b3b3b;
  padding: 0;
  margin-bottom: 30px;
  width: 227px;
  position: relative;
}
.footer__menu-menu-left-box-selection:before {
  content: "";
  background-image: url(../images/earth.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
}
.footer__menu-menu-left-box-selection-img {
  margin: 0 20px;
}
.footer__menu-menu-left-box-selection-selection {
  background-color: #3b3b3b;
  width: 227px;
  height: 40px;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  font-style: normal;
  border: 0;
  padding-left: 48px;
}
.footer__menu-menu-left-box-selection-selection:hover {
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}
.footer__menu-menu-left-hashtag {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}
.footer__menu-menu-left-hashtag::before {
  content: "#";
  color: #49a144;
  font-size: 16px;
  line-height: 19px;
}
.footer__menu-menu-left-hashtag:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.footer__menu-menu-left-hashtag-conteiner {
  margin-bottom: 20px;
}
.footer__menu-menu-left-network-icons-icon {
  margin-right: 15px;
  width: 18px;
  height: 18px;
}
.footer__menu-menu-left-network-icons-icon:hover img {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.footer__icons-apps {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.footer__icons-apps-icon:first-of-type {
  margin-right: 40px;
}
.footer__terms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__terms > a {
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  text-decoration: none;
}
.footer__button-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  bottom: 25px;
  width: 80px;
  height: 80px;
  background-color: #59bd5a;
  border-radius: 2px;
}
.footer__button-to-top:hover {
  background-color: #59bd0a;
}
.footer__menu-list {
  list-style: none;
  padding: 0;
}
.footer__menu-list-li:not(:last-of-type) {
  margin-bottom: 23px;
}
.footer__menu-list-item {
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
}
.footer__menu-list-item:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media (min-width: 640px) and (max-width: 1023px) {
  .footer {
    padding: 50px 8px 40px;
  }
  .footer__menu-menu-left-box-selection {
    width: 176px;
  }
}
@media (max-width: 639px) {
  .footer {
    padding: 50px 8px 40px;
  }
  .footer__menu {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }
  .footer__menu-menu-middle {
    margin-bottom: 23px;
  }
  .footer__menu-menu-left {
    margin-bottom: 40px;
  }
  .footer__menu-menu-left-box-selection {
    width: 173px;
  }
  .footer__terms {
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }
  .footer__button-to-top {
    width: 64px;
    height: 64px;
  }
}

/*# sourceMappingURL=main.css.map */
